ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: disc;
    text-align: left;
}

* {
    cursor: url(images/cursoji_-_smiling_90.png), auto;
}

body {
    background-image: url(images/p.png);
}

.first-tr {
    background-color: #b4a72b;
}

.second-tr {
    background-color: #b4a72b;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

nav ul {
    text-align: center;

}

nav a {
    background-color: rgba(175, 169, 85, 0.76);
    border: 2px solid transparent;
    padding: 3px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(14, 100, 14);
}

nav a:hover {
    background-color: rgba(202, 200, 83, 0.76);
    border: 2px solid rgb(14, 100, 14);
}

nav li {
    text-align: center;
    display: inline;
    margin-left: 20px;
    margin: 10px 10px;
    list-style-type: none;

}

header {
    display: block;
}

body {

    text-align: center;
}

h1 {
    display: block;
    color: rgb(39, 59, 6);
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5 em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.first-section {
    background-color: rgba(175, 169, 85, 0.76);
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
    display: block;
    text-align: center;

}

.first-section:hover {
    background-color: rgba(119, 115, 57, 0.76);
    border: 2px solid rgb(14, 100, 14);

}

p {
    padding: 2px;
    color: rgb(39, 59, 6);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    line-height: 1.3;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    border: 1px solid rgba(100, 133, 11, 0.76);
    ;
    border-radius: 9%;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}



.second-section {
    background-color: rgba(145, 143, 61, 0.76);
    color: rgba(100, 133, 11, 0.76);
    border: 5px solid transparent;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
}

.first-li {
    background-color: rgba(202, 200, 83, 0.76);
    color: rgb(39, 59, 6);
    border: 2px;
    border-radius: 8px;
    padding: 10px;
    list-style-type: none;
    text-align: left;

}

.second-li {
    background-color: rgba(202, 200, 83, 0.76);
    color: rgb(39, 59, 6);
    border: 2px;
    border-radius: 8px;
    padding: 10px;
    list-style-type: none;
    text-align: left;

}



second-section ul {
    list-style: none;
    padding-left: 20px;
    background-color: rgba(202, 200, 83, 0.76);

}

.third-li {
    background-color: rgba(202, 200, 83, 0.76);
    color: rgb(39, 59, 6);
    border: 2px;
    border-radius: 8px;
    padding: 10px;
    list-style-type: none;
    text-align: left;

}

.second-section:hover {
    background-color: rgba(202, 200, 83, 0.76);
    border: 2px solid rgb(14, 100, 14);
}

.third-section:hover {
    background-color: rgba(223, 220, 39, 0.76);
    border: 2px solid rgb(14, 100, 14);

}

.fourth-li {
    background-color: rgba(202, 200, 83, 0.76);
    color: rgb(39, 59, 6);
    border: 2px;
    border-radius: 8px;
    padding: 10px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.third-section {
    background-color: rgba(202, 200, 83, 0.76);
    color: rgb(39, 59, 6);
    border: 5px transparent;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
}

.fourth-section {
    background-color: rgb(209, 241, 132, 0.78);
    color: rgb(39, 59, 6);
    border: 5px transparent;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
    text-decoration: none;
    color: rgb(14, 100, 14);

}

.fourth-section li {
    padding-left: 10px;


}

ol {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
}

li {
    padding-left: 20px;
    margin-bottom: 5px;
}

.fourth-section:hover {
    background-color: rgba(112, 168, 48, 0.76);
    border: 2px solid rgb(14, 100, 14);
}

.tablestyle {
    border-collapse: collapse;
    width: 100%;

}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: rgb(67, 80, 9);
}

h2,
h3,
h4 {
    color: rgb(39, 59, 6);
    text-align: center;
}

span1 {
    text-decoration: underline;
}

footer {
    color: rgb(39, 59, 6);
    background-color: rgb(221, 230, 97, 0.76);
}

form {
    display: inline-block;
}

button {
    appearance: auto;
}

button,
.projects3 {
    background-color: rgb(149, 151, 38);
    color: rgb(153, 201, 76);
    border: none;
    border-radius: 10%;
    position: relative;
    top: -10px;
}

ol {
    line-height: 2.5;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.background {
    background-color: rgb(209, 241, 132, 0.78);

}