body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}

.item1 {
    background-color: rgb(236, 121, 140);
    grid-area: 1 / 1 / span 1 / span 4;
}

.item2 {
    background-color: rgb(135, 247, 120);
    grid-area: 2 / 1 / span 1 / span 1;
}

.item3 {
    background-color: rgb(135, 247, 120);
    grid-area: 2 / 2 / span 1 / span 1;
}

.item4 {
    background-color: rgb(135, 247, 120);
    grid-area: 2 / 3 / span 1 / span 1;
}

.item5 {
    background-color: rgb(135, 247, 120);
    grid-area: 2 / 4 / span 1 / span 1;
}

.item6 {
    background-color: rgb(236, 121, 140);
    grid-area: 3 / 1 / span 1 / span 4;
}