p {
    width:900px;
    background-color: rgb(235, 171, 142);
    padding: 20px;
    border: 2px solid black;
    margin: 30px;
    
}

img {
float: left;
border: 1px;
border-style: solid;
border-color:black;
margin: 10px 10px 10px 0px;
width: 300px;
}

img:hover {
    cursor: pointer;
    width: 310px;
    padding:10px;
    border: 2px;
    border-style: dashed;
    border-color: red;
}
